# San Francisco Rental Prices Dashboard

In this notebook, you will compile the visualizations from the previous analysis into functions that can be used for a Panel dashboard.

In [3]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [4]:
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv("MAPBOX_API_KEY")
px.set_mapbox_access_token(map_box_api)

# Import Data

In [5]:
# Import the necessary CSVs to Pandas DataFrames
# YOUR CODE HERE!
file_path1 = Path("Data/sfo_neighborhoods_census_data.csv")
sfo_data = pd.read_csv(file_path1, index_col="year")
sfo_data.head()

          neighborhood  sale_price_sqr_foot  housing_units  gross_rent
year
2010      Alamo Square           291.182945         372560        1239
2010        Anza Vista           267.932583         372560        1239
2010           Bayview           170.098665         372560        1239
2010  Buena Vista Park           347.394919         372560        1239
2010  Central Richmond           319.027623         372560        1239

In [6]:
file_path2 = Path("Data/neighborhoods_coordinates.csv")
loc_coord = pd.read_csv(file_path2, index_col="Neighborhood")
loc_coord.head()

                       Lat         Lon
Neighborhood
Alamo Square     37.791012 -122.402100
Anza Vista       37.779598 -122.443451
Bayview          37.734670 -122.401060
Bayview Heights  37.728740 -122.410980
Bernal Heights   37.728630 -122.443050

In [7]:
file_path3 = Path("sfo_data_mean.csv")
sfo_data_mean_df = pd.read_csv(file_path3, index_col="year")
sfo_data_mean_df.head()

      housing_units
year
2010       372560.0
2011       374507.0
2012       376454.0
2013       378401.0
2014       380348.0

- - -

## Panel Visualizations

In this section, you will copy the code for each plot type from your analysis notebook and place it into separate functions that Panel can use to create panes for the dashboard. 

These functions will convert the plot object to a Panel pane.

Be sure to include any DataFrame transformation/manipulation code required along with the plotting code.

Return a Panel pane object from each function that can be used to build the dashboard.

Note: Remove any `.show()` lines from the code. We want to return the plots instead of showing them. The Panel dashboard will then display the plots.

In [20]:
# Define Panel Visualization Functions
def housing_units_per_year():
    """Housing Units Per Year."""
    # YOUR CODE HERE!
    sfo_data_mean = sfo_data['housing_units'].groupby(sfo_data.index).mean()
    housing_units_per_year = px.plot(
        sfo_data_mean,
        xlabel='Years',
        ylabel= 'Housing Units',
        y= 'housing units',
        x= 'years',
        kind = 'bar',
        rot= 45,
        ylim= (370000, 385000),
        title= "Average Housing Units Per Year",
        figsize= (10,5)
    )
    return pn.pane.plotly(housing_units_per_year)

AttributeError: 'function' object has no attribute 'show'

In [21]:
def average_gross_rent():
    """Average Gross Rent in San Francisco Per Year."""
    
    # YOUR CODE HERE!
    avg_gross_rent = sfo_data['gross_rent'].groupby('year').mean().astype(int)
    avg_gross_rent = px.plot(
        avg_gross_rent,
        ylabel= 'Gross Rent',
        xlabel= 'Year',
        fontsize= 12,
        color= 'Blue',
    )
    return avg_gross_rent

In [ ]:
def average_sales_price():
    """Average Sales Price Per Year."""
    
    # YOUR CODE HERE!
    avg_sale_price_sqr_foot = sfo_data["sale_price_sqr_foot"].groupby('year').mean().astype(int)
    avg_sale_price = px.plot(
        avg_sale_price_sqr_foot,
        ylabel = 'Sale Price per Sqr Foot',
        xlabel= 'Year',
        fontsize= 12,
        color = 'Green'
    )
    return avg_sale_price

In [ ]:
def average_price_by_neighborhood():
    """Average Prices by Neighborhood."""
    
    # YOUR CODE HERE!
    neigh_rent = sfo_data.groupby(['year', 'neighborhood']).mean()
    avg_price_plot = px.line(
        neigh_rent,
        x = "sale_price_sqr_foot",
        y = "housing_units",
        title ="Price per Square Foot, San Fransisco",
)
    return neigh_rent

In [22]:
def top_most_expensive_neighborhoods():
    """Top 10 Most Expensive Neighborhoods."""

    # YOUR CODE HERE!
    top_ten_exp = sfo_data.groupby('neighborhood').mean()[['sale_price_sqr_foot', 'housing_units', 'gross_rent']].sort_values('sale_price_sqr_foot', ascending = False).reset_index().head(10)
    top_ten_exp_hvplot = top_ten_exp.hvplot(
        x = 'neighborhood',
        y = 'sale_price_sqr_foot',
        xlabel = 'Neighborhood',
        ylabel = 'Average Sale Price Per Square Foot',
        color = 'gross_rent',
        kind = 'bar',
        rot = 45,
        ylim = (400, 950),
        height= 400, 
        title= "Top Ten Most Expensive Neighborhoods"
) 
    return top_ten_exp_hvplot

In [ ]:
def most_expensive_neighborhoods_rent_sales():
    """Comparison of Rent and Sales Prices of Most Expensive Neighborhoods."""   
    neigh_avg = sfo_data.groupby(['neighborhood']).mean()

    # YOUR CODE HERE!

    
    
def parallel_coordinates():
    """Parallel Coordinates Plot."""

    # YOUR CODE HERE!



def parallel_categories():
    """Parallel Categories Plot."""
    
    # YOUR CODE HERE!

In [ ]:
def neighborhood_map():
    """Neighborhood Map."""

    # YOUR CODE HERE!
    map_plot = px.scatter_mapbox(
        joined_df,
        color = 'gross_rent',
        lat = 'Lat',
        lon = 'Lon',
        size = 'gross_rent',
        hover_data = ['sale_price_sqr_foot'],
        hover_name = 'neighborhood',
        zoom = 4,
        title = 'Gross Rent and Avg Sale Price Per sq Foot in SF',
)
    return map_plot

In [ ]:
def sunburst():
    """Sunburst Plot."""
    
    # YOUR CODE HERE!

## Panel Dashboard

In this section, you will combine all of the plots into a single dashboard view using Panel. Be creative with your dashboard design!

In [ ]:
# Create a Title for the Dashboard
# YOUR CODE HERE!


# Create a tab layout for the dashboard
# YOUR CODE HERE!


# Create the dashboard
# YOUR CODE HERE!

## Serve the Panel Dashboard

In [ ]:
# Serve the# dashboard
# YOUR CODE HERE!

# Debugging

Note: Some of the Plotly express plots may not render in the notebook through the panel functions.

However, you can test each plot by uncommenting the following code

In [ ]:
# housing_units_per_year()

In [ ]:
# average_gross_rent()

In [ ]:
# average_sales_price()

In [ ]:
# average_price_by_neighborhood()

In [ ]:
# top_most_expensive_neighborhoods()

In [ ]:
# most_expensive_neighborhoods_rent_sales()

In [ ]:
# neighborhood_map().show()

In [ ]:
# parallel_categories()

In [ ]:
# parallel_coordinates()

In [ ]:
# sunburst()